<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    {% load widget_tweaks %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>

<body>
    {% if request.user.is_authenticated %}
    <div id="authed" class="auth"></div>
    {% else %}
    <div id="no" class="auth"></div>
    {% endif %}
    <div>
        <h2 class="signupJp"><nobr>サインアップ</nobr></h2>
        <h1 class="signup">SIGNUP</h1>
    </div>
    {% if request.user.is_authenticated %}
    <div class="loginParent">
        <h3><nobr>既にあるアカウントに切り替える場合は</nobr></h3>
        <a class="login" href="{% url 'login' %}"><h3>こちら</h3></a>
    </div>
    {% else %}
    <div class="loginParent">
        <h3><nobr>アカウントをお持ちの場合</nobr></h3>
        <a class="login" href="{% url 'login' %}"><p>ログイン</p></a>
    </div>
    {% endif %}
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="userInput" id="userInput">
            <label><nobr>ユーザー名</nobr></label>
            {{ form.username|add_class:"textInput" }}
        </div>
        <div class="userInput" id="emailInput">
            <label><nobr>メールアドレス(任意)</nobr></label>
            {{ form.email|add_class:"textInput" }}
        </div>
        <div class="userInput disable" id="passwordInput1">
            <label><nobr>パスワード</nobr></label>
            {{ form.password1|add_class:"textInput" }}
        </div>
        <div class="userInput disable" id="passwordInput2">
            <label><nobr>パスワード(再確認)</nobr></label>
            {{ form.password2|add_class:"textInput" }}
        </div>
        <div class="userInput reverse">
            <input type="button" value="続行" class="continue"/><br>
            {% if request.user.is_authenticated %}
            <input type="submit" value="作成して切り替え" class="disable" id="signupButton"/>
            {% else %}
            <input type="submit" value="作成" class="disable" id="signupButton"/>
            {% endif %}
            <input type="button" value="戻る" class="disable" id="backButton"/>
        </div>
        <div id="errors" class="disable">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="disable">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </form>
    <div class="alertArea">
    </div>
    <script>
        const continueButton = document.querySelector("input.continue");
        const userNameInput = document.querySelector("input#id_username");

        document.querySelector('#userInput').onkeydown = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('input.continue').click();
            }
        };
        document.querySelector('#emailInput').onkeydown = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('input.continue').click();
            }
        };
        document.querySelector('#passwordInput1').onkeydown = function(e) {
            if (e.keyCode === 27) {  // enter, return
                document.querySelector('#backButton').click();
            }
        };
        document.querySelector('#passwordInput2').onkeydown = function(e) {
            if (e.keyCode === 27) {  // enter, return
                document.querySelector('#backButton').click();
            }
        };
        window.addEventListener('DOMContentLoaded', function(){
            const errors = document.querySelector("#errors").children;
            for (const error of errors) {
                sendAlert(error.innerText);
            }
        });
        function sendAlert(alertText) {
            const alertArea = document.querySelector("div.alertArea");

            let alertBox = document.createElement("div");
            alertBox.className = "alertbox";

            let errorTitle = document.createElement("p");
            errorTitle.className = "errortext errortitle";
            errorTitle.innerText = "エラー";

            let errorText = document.createElement("p");
            errorText.className = "errortext";
            errorText.innerText = alertText;

            alertBoxDOM = alertArea.appendChild(alertBox);
            alertBoxDOM.appendChild(errorTitle);
            alertBoxDOM.appendChild(errorText);
            window.setTimeout(deleteAlert, 5500);
        }
        continueButton.addEventListener("click", transitionToNext);
        function transitionToNext() {
            if (userNameInput.value == "") {
                sendAlert("ユーザー名を入力してください");
            }
            else {
                const userInput = document.querySelector("#userInput");
                const emailInput = document.querySelector("#emailInput");

                continueButton.className = "continue fadeoutPlane disable";
                userInput.className = "userInput fadeout disable";
                emailInput.className = "userInput fadeout disable";
                window.setTimeout(fadein,1000);
            }
        }

        function deleteAlert() {
            const alertBox = document.querySelector("div.alertbox");
            alertBox.remove();
        }
        function fadein() {
            const is_authenticated = document.querySelector("div.auth").id;
            const passInput1 = document.querySelector("#passwordInput1");
            const passInput2 = document.querySelector("#passwordInput2");
            const signupButton = document.querySelector("#signupButton");
            const backButton = document.querySelector("#backButton");

            passInput1.className = "userInput fadein";
            passInput2.className = "userInput fadein";
            if (is_authenticated == "authed") {
            signupButton.className = "continue fadeinPlane createAndChange";
            }
            else {
                signupButton.className = "continue fadeinPlane";
            }
            backButton.className = "continue fadeinPlane backButton";
        }
        const backButton = document.querySelector("#backButton");
        backButton.addEventListener("click", transitionToBefore);
        function transitionToBefore() {
            const is_authenticated = document.querySelector("div.auth").id;
            const passInput1 = document.querySelector("#passwordInput1");
            const passInput2 = document.querySelector("#passwordInput2");
            const signupButton = document.querySelector("#signupButton");
            const backButton = document.querySelector("#backButton");

            passInput1.className = "userInput fadeout disable";
            passInput2.className = "userInput fadeout disable";
            if (is_authenticated == "authed") {
            signupButton.className = "continue fadeoutPlane createAndChange disable";
            }
            else {
                signupButton.className = "continue fadeoutPlane disable";
            }
            backButton.className = "continue fadeoutPlane backButton disable";
            window.setTimeout(fadein2,1000);
        }
        function fadein2() {
            const userInput = document.querySelector("#userInput");
            const emailInput = document.querySelector("#emailInput");

            continueButton.className = "continue fadeinPlane";
            userInput.className = "userInput fadein";
            emailInput.className = "userInput fadein";
        }
    </script>
</body>

</html>